.couch-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
}

.upper-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
}

.down-part {
    width: 100%;
    height: 120px;    
    filter: brightness(0.8);
}

.left-arm-rest, .right-arm-rest {
    width: 60px;
    height: 160px;
    border-radius: 10px;
    border: solid 1px black;
    margin-top: 100px;
}

.left-arm-rest {
    margin-left: -15px;
}

.right-arm-rest {
    margin-right: -15px;
}

.couch-color-picker {
    position: absolute;
    top: 100px;
    right: -250px;
}