.curtain-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 500px;
    height: 400px;
}

.curtain-rod {
    width: 100%;
    height: 15px;
    background-color: gray;
}

.curtain {
    display: flex;
    height: 100%;
    width: 95%;
    margin-top: -15px;
}

.curtain > * {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.curtain > *:nth-child(even) {
    filter: brightness(0.8);
}

.color-picker-container {
    position: absolute;
    top: 25px;
    left: 50px;
}